 img {
      
      }
#uzumaki{
    background-image: url("img/uzumaki.png");
}
#uzumaki img{
    display: none;
}

#uchiha, #harune, #uzumaki{
    display: inline;
}
#madara{
    display: none;
}
#kakashi{
    display: block;
}
#team7, #team8, #teamguy, #team10{
    display: flex;
}
#team7 > *{
    flex: 1;
}
#kabuto {
    top: 50px;
    left: 30px;
}
#orochimaru{
    position:fixed;
   top:0;
   right:0;
}
#deidara{
  align-items: center;
  display: flex;
  justify-content: center;
}
#orochimaruteam{
    border-style: dotted;
      border-width: 10px;
}
#shikamaru{
    box-shadow: 15px 15px 15px #888888;
}
.dobri {
    background-color: green;
}
.vas{
     border-style: solid;
    border-width: 5em;
}
/*
Hitreje je narediti SVG na strani. je pa prti canvas elementu dosti več opcij za risat-
*/